[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = ">=2.8.2"
google-api-python-client = ">=2.30.0"
google-auth = ">=2.3.3"

[dev-packages]

[requires]
python_version = "3.9"
