[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = ">=2.8.2"
google-api-python-client = ">=2.30.0"
google-auth = ">=2.3.3"
SQLAlchemy = {version = ">=1.4.27", extras = ["mypy"]}
packaging = ">=21.3"
structlog = ">=21.4"
Flask = ">=2.0.2"
waitress = ">=2.0.0"
overrides = "*"

[dev-packages]
# documentation generator
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"
sphinx-paramlinks = "*"
# style checkers
flake8 = "*"
flake8-docstrings = "*"
flake8-annotations = "*"
types-waitress = "*"
types-python-dateutil = "*"
pyupgrade = "*"
python-lsp-server = {extras = ["all"], version = "*"}
darglint = "*"
mypy = "*"
# etc

[requires]
python_version = "3.10"
